/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
/nbproject
public/uploads
public/deploy-source.php
public/deployments.log
composer.phar
error_log
