
// // Body
// $body-bg: #f5f8fa;

// // Borders
// $laravel-border-color: darken($body-bg, 10%);
// $list-group-border: $laravel-border-color;
// $navbar-default-border: $laravel-border-color;
// $panel-default-border: $laravel-border-color;
// $panel-inner-border: $laravel-border-color;

// // Brands
// $brand-primary: #3097D1;
// $brand-info: #8eb4cb;
// $brand-success: #2ab27b;
// $brand-warning: #cbb956;
// $brand-danger: #bf5329;

// // Typography
// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// $font-family-sans-serif: "Raleway", sans-serif;
// $font-size-base: 14px;
// $line-height-base: 1.6;
// $text-color: #636b6f;

// // Navbar
// $navbar-default-bg: #fff;

// // Buttons
// $btn-default-color: $text-color;

// // Inputs
// $input-border: lighten($text-color, 40%);
// $input-border-focus: lighten($brand-primary, 25%);
// $input-color-placeholder: lighten($text-color, 30%);

// // Panels
// $panel-default-heading-bg: #fff;



$primary: #009245;
$header_color:#F7F7F7;
$header_border:#E9E9E9;
$black:#000;
$white:#fff;
$home_section:#F0F0F0;
$footer_bg:#282828;
$menu_dropdown:#5774EB;
$tab-gray: #ABABAA;
$green: #93C516;
$payment-form-label: #788995;
$payment-form-border: #DDE3E8;
$gray:#666666;
$purple:#96A6F3;
$gray-form: #757575;

$red:#C51616;
@mixin size-max-480 {
    @media (max-width: 480px) {
        @content;
    }
}

// Extra small devices (portrait phones, less than 576px)
@mixin size-max-575 {
    @media (max-width: 575px) {
        @content;
    }
}

// Small devices (landscape phones, less than 768px)
@mixin size-max-767 {
    @media (max-width: 767px) {
        @content;
    }
}

// Medium devices (tablets, less than 992px)
@mixin size-max-991 {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin size-max-1170 {
    @media (max-width: 1170px) {
        @content;
    }
}

// Large devices (desktops, less than 1200px)
@mixin size-max-1280 {
    @media (max-width: 1280px) {
        @content;
    }
}

@mixin size-max-1450 {
    @media (max-width: 1450px) {
        @content;
    }
}